<!DOCTYPE html>
<html>
    <head>
        <title>DISPLAY</title>
    </head>
    <body>
        <form action="/display.ejs" method="POST">
            <h1>DISPLAY PAGE</h1>
        </form>
    </body>
</html>