<!DOCTYPE html>
<html>
<head>
    <title>HOME</title>
    <style>
       body{
        background-color: #f0f0f0;
        color:#3498db;
        font-family: Arial, sans-serif;
       }
       .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
       }
       h1{
        font-size: 50px;
       }
       h2{
        font-size: 50px;
       }
       h3{
        font-size: 30px;
       }
       a{
        text-decoration: none;
        color:white;
        font-size: 20px;
       }
       .option1{
        position: absolute;
        left:80%;
        bottom:86%;
        padding: 10px 20px;
        background-color: #3498db;
        border-radius: 15px;
  
       }
       .option2{
        background-color: #3498db;
        padding:10px 20px;
        border-radius: 15px;
        width:13%;
        position: absolute;
        left:8%;
        bottom:19%;
       }
       hr{
        height: 2px;
        background-color: white;
       }
       
    </style>
</head>    
<body>
    <div class="header">
        <center><h1>FOOD FOR PEOPLE</h1></center>
    </div>
    <div class="container">
            <div>
                <h2>
                    GIFTING SMILE<br>
                    TO<br>
                    POOR PEOPLE<br>
                </h2>
                <h3>
                    Donate Now
                </h3>
            </div>
            <img src="https://www.globalgiving.org/pfil/35738/pict_large.jpg" width="37%">
        </div>


  

        <div class="headline">
        
        <div class="option1">
            <a href="http://localhost:3000/volunteer">Join as a volunteer</a>
        </div>
        <div class="option2">
            <a href="http://localhost:3000/donate_register">Join as a Donator</a>
        </div>
        </div>
</body>
</html>
